@page
@model ModbusConverter.Pages.OverridesModel
@using ModbusConverter.Modbus;

<div style="margin-top:30px;">

    <table class="table-bordered">
        <thead>
            <tr>
                <th colspan="3">Coils</th>
                <th colspan="3">Discrete Inputs</th>
                <th colspan="3">Input registers</th>
                <th colspan="3">Holding registers</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td colspan="3">
                    <form method="post">
                        <input hidden asp-for="RegisterType" value="Coil" />
                        <div>
                            <label asp-for="Address"></label>
                            <input asp-for="Address" />
                        </div>
                        <div>
                            <label asp-for="Value"></label>
                            <input type="checkbox" asp-for="BoolValue" />
                        </div>
                        <div>
                            <button asp-page-handler="Add">Add</button>
                        </div>
                    </form>
                </td>
                <td colspan="3">
                    <form method="post">
                        <input hidden asp-for="RegisterType" value="DiscreteInput" />
                        <div>
                            <label asp-for="Address"></label>
                            <input asp-for="Address" />
                        </div>
                        <div>
                            <label asp-for="Value"></label>
                            <input type="checkbox" asp-for="BoolValue" />
                        </div>
                        <div>
                            <button asp-page-handler="Add">Add</button>
                        </div>
                    </form>
                </td>
                <td colspan="3">
                    <form method="post">
                        <input hidden asp-for="RegisterType" value="InputRegister" />
                        <div>
                            <label asp-for="Address"></label>
                            <input asp-for="Address" />
                        </div>
                        <div>
                            <label asp-for="Value"></label>
                            <input asp-for="Value" />
                        </div>
                        <div>
                            <button asp-page-handler="Add">Add</button>
                        </div>
                    </form>
                </td>
                <td colspan="3">
                    <form method="post">
                        <input hidden asp-for="RegisterType" value="HoldingRegister" />
                        <div>
                            <label asp-for="Address"></label>
                            <input asp-for="Address" />
                        </div>
                        <div>
                            <label asp-for="Value"></label>
                            <input asp-for="Value" />
                        </div>
                        <div>
                            <button asp-page-handler="Add">Add</button>
                        </div>
                    </form>
                </td>
            </tr>
            <tr>
                @for (int i = 0; i < 4; ++i)
                {
                    <td>Remove</td>
                    <td>Address</td>
                    <td>Value</td>
                }
            </tr>
            @foreach (var row in Model.Rows)
            {
                <tr>
                    @if (row.CoilAddress is not null)
                    {
                        <td>
                            <form method="post">
                                <input hidden asp-for="RegisterType" value="@ModbusRegisterType.Coil.ToString()" />
                                <input hidden asp-for="Address" value="@row.CoilAddress" />
                                <button asp-page-handler="Remove">−</button>
                            </form>
                        </td>
                        <td>
                            @row.CoilAddress
                        </td>
                        <td>
                            <form method="post">
                                @row.CoilValue
                            </form>
                        </td>
                    }
                    else
                    {
                        <td></td>
                        <td></td>
                        <td></td>
                    }

                    @if (row.DiscreteInputAddress is not null)
                    {
                        <td>
                            <form method="post">
                                <input hidden asp-for="RegisterType" value="@ModbusRegisterType.DiscreteInput.ToString()" />
                                <input hidden asp-for="Address" value="@row.DiscreteInputAddress" />
                                <button asp-page-handler="Remove">−</button>
                            </form>
                        </td>
                        <td>
                            @row.DiscreteInputAddress
                        </td>
                        <td>
                            @row.DiscreteInputValue
                        </td>
                    }
                    else
                    {
                        <td></td>
                        <td></td>
                        <td></td>
                    }

                    @if (row.InputRegisterAddress is not null)
                    {
                        <td>
                            <form method="post">
                                <input hidden asp-for="RegisterType" value="@ModbusRegisterType.InputRegister.ToString()" />
                                <input hidden asp-for="Address" value="@row.InputRegisterAddress" />
                                <button asp-page-handler="Remove">−</button>
                            </form>
                        </td>
                        <td>
                            @row.InputRegisterAddress
                        </td>
                        <td>
                            @row.InputRegisterValue?.ToString("X4")
                        </td>
                    }
                    else
                    {
                        <td></td>
                        <td></td>
                        <td></td>
                    }

                    @if (row.HoldingRegisterAddress is not null)
                    {
                        <td>
                            <form method="post">
                                <input hidden asp-for="RegisterType" value="@ModbusRegisterType.HoldingRegister.ToString()" />
                                <input hidden asp-for="Address" value="@row.HoldingRegisterAddress" />
                                <button asp-page-handler="Remove">−</button>
                            </form>
                        </td>
                        <td>
                            @row.HoldingRegisterAddress
                        </td>
                        <td>
                            @row.HoldingRegisterValue?.ToString("X4")
                        </td>
                    }
                    else
                    {
                        <td></td>
                        <td></td>
                        <td></td>
                    }

                </tr>
            }
        </tbody>
    </table>
</div>
