@page
@model ModbusConverter.Pages.OverridesModel
@using ModbusConverter.Modbus;

<div style="margin-top:30px;">

    <table class="table-bordered">
        <thead>
            <tr>
                <th colspan="4">Coils</th>
                <th colspan="4">Discrete Inputs</th>
                <th colspan="4">Input registers</th>
                <th colspan="4">Holding registers</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td colspan="4">
                    <form method="post">
                        <input hidden asp-for="RegisterType" value="Coil" />
                        <div>
                            <label asp-for="Address"></label>
                            <input asp-for="Address" />
                        </div>
                        <div>
                            <label asp-for="Expression"></label>
                            <input asp-for="Expression" />
                        </div>
                        <div>
                            <button asp-page-handler="Add">Add</button>
                        </div>
                    </form>
                </td>
                <td colspan="4">
                    <form method="post">
                        <input hidden asp-for="RegisterType" value="DiscreteInput" />
                        <div>
                            <label asp-for="Address"></label>
                            <input asp-for="Address" />
                        </div>
                        <div>
                            <label asp-for="Expression"></label>
                            <input asp-for="Expression" />
                        </div>
                        <div>
                            <button asp-page-handler="Add">Add</button>
                        </div>
                    </form>
                </td>
                <td colspan="4">
                    <form method="post">
                        <input hidden asp-for="RegisterType" value="InputRegister" />
                        <div>
                            <label asp-for="Address"></label>
                            <input asp-for="Address" />
                        </div>
                        <div>
                            <label asp-for="Expression"></label>
                            <input asp-for="Expression" />
                        </div>
                        <div>
                            <label asp-for="DataType"></label>
                            <select asp-for="DataType" asp-items="Html.GetEnumSelectList<DataType>()"></select>
                        </div>
                        <div>
                            <button asp-page-handler="Add">Add</button>
                        </div>
                    </form>
                </td>
                <td colspan="4">
                    <form method="post">
                        <input hidden asp-for="RegisterType" value="HoldingRegister" />
                        <div>
                            <label asp-for="Address"></label>
                            <input asp-for="Address" />
                        </div>
                        <div>
                            <label asp-for="Expression"></label>
                            <input asp-for="Expression" />
                        </div>
                        <div>
                            <label asp-for="DataType"></label>
                            <select asp-for="DataType" asp-items="Html.GetEnumSelectList<DataType>()"></select>
                        </div>
                        <div>
                            <button asp-page-handler="Add">Add</button>
                        </div>
                    </form>
                </td>
            </tr>
            <tr>
                @for (int i = 0; i < 4; ++i)
                {
                    <td>Remove</td>
                    <td>Address</td>
                    <td>Value</td>
                    <td>DataType</td>
                }
            </tr>
            @foreach (var row in Model.DynamicOverridesRows)
            {
                <tr>
                    @if (row.CoilRow is not null)
                    {
                        <td>
                            <form method="post">
                                <input hidden asp-for="RegisterType" value="@ModbusRegisterType.Coil.ToString()" />
                                <input hidden asp-for="Address" value="@row.CoilRow.Address" />
                                <input hidden asp-for="Guid" value="@row.CoilRow.Guid" />
                                <button asp-page-handler="Remove">−</button>
                            </form>
                        </td>
                        <td>
                            @row.CoilRow.Address
                        </td>
                        <td>
                            @row.CoilRow.OverrideExpression
                        </td>
                        <td>
                            @row.CoilRow.DataType
                        </td>
                    }
                    else
                    {
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    }

                    @if (row.DiscreteInputRow is not null)
                    {
                        <td>
                            <form method="post">
                                <input hidden asp-for="RegisterType" value="@ModbusRegisterType.DiscreteInput.ToString()" />
                                <input hidden asp-for="Address" value="@row.DiscreteInputRow.Address" />
                                <input hidden asp-for="Guid" value="@row.DiscreteInputRow.Guid" />
                                <button asp-page-handler="Remove">−</button>
                            </form>
                        </td>
                        <td>
                            @row.DiscreteInputRow.Address
                        </td>
                        <td>
                            @row.DiscreteInputRow.OverrideExpression
                        </td>
                        <td>
                            @row.DiscreteInputRow.DataType
                        </td>
                    }
                    else
                    {
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    }

                    @if (row.InputRegisterRow is not null)
                    {
                        <td>
                            <form method="post">
                                <input hidden asp-for="RegisterType" value="@ModbusRegisterType.InputRegister.ToString()" />
                                <input hidden asp-for="Address" value="@row.InputRegisterRow.Address" />
                                <input hidden asp-for="Guid" value="@row.InputRegisterRow.Guid" />
                                <button asp-page-handler="Remove">−</button>
                            </form>
                        </td>
                        <td>
                            @row.InputRegisterRow.Address
                        </td>
                        <td>
                            @row.InputRegisterRow.OverrideExpression
                        </td>
                        <td>
                            @row.InputRegisterRow.DataType
                        </td>
                    }
                    else
                    {
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    }

                    @if (row.HoldingRegisterRow is not null)
                    {
                        <td>
                            <form method="post">
                                <input hidden asp-for="RegisterType" value="@ModbusRegisterType.HoldingRegister.ToString()" />
                                <input hidden asp-for="Address" value="@row.HoldingRegisterRow.Address" />
                                <input hidden asp-for="Guid" value="@row.HoldingRegisterRow.Guid" />
                                <button asp-page-handler="Remove">−</button>
                            </form>
                        </td>
                        <td>
                            @row.HoldingRegisterRow.Address
                        </td>
                        <td>
                            @row.HoldingRegisterRow.OverrideExpression
                        </td>
                        <td>
                            @row.HoldingRegisterRow.DataType
                        </td>
                    }
                    else
                    {
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    }

                </tr>
            }
        </tbody>
    </table>
</div>
